<div class="container-flex">
    <div class="row">
        <div class="col">
            <p>Text input to be returned on API request.</p>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-8">
            <input class="form-control" type="text" value="Hello world!" id="example-text-input">
        </div>
        <div class="col-4">
            <button class="btn btn-primary">API Request</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-outline-primary mb-3">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <em>No API request made</em>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>